{% load static from staticfiles %}

<script src="{% static 'social_media_dashboard/js/3rd-party/jquery-plugins/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
<script src="{% static 'social_media_dashboard/js/3rd-party/jquery-plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'social_media_dashboard/js/3rd-party/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'social_media_dashboard/js/3rd-party/jquery-plugins/pikaday/pikaday.js' %}" type="text/javascript"></script>
<script src="{% static 'social_media_dashboard/js/3rd-party/jquery-plugins/pikaday/pikaday.jquery.js' %}" type="text/javascript"></script>
