{% extends "base.html" %}

{% block content %}
<h2>Error 404</h2>
<div class="row-fluid">
    <div class="alert alert-danger">
        <p>Seems like we cannot find the page you requested</p>
    </div>
</div>
{% endblock content %}