{% load django_utils_filters %}
{% load static from staticfiles %}

{% with "social_media_dashboard" as dashboard_name %}
  <!DOCTYPE html>
  <!--[if lt IE 7]>  <html class="lt-ie7"> <![endif]-->
  <!--[if IE 7]>     <html class="lt-ie8"> <![endif]-->
  <!--[if IE 8]>     <html class="lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}Social Media Dashboard{% endblock title %}</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{% static 'social_media_dashboard/images/social_media_dashboard.png' %}" />
  <link rel="shortcut icon" href="{% static 'social_media_dashboard/images/favicon.ico' %}" type="image/x-icon" />
  {% block extra_css_plugins %}{% endblock extra_css_plugins %}
  <link type="text/css" rel="stylesheet" href="{% static 'social_media_dashboard/materialize/css/materialize.min.css' %}"  media="screen" />
  <link type="text/css" rel="stylesheet" href="{% static 'social_media_dashboard/font-awesome/css/font-awesome.min.css' %}" />

  <link type="text/css" rel="stylesheet" href="{% static 'social_media_dashboard/css/materialize.add.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'social_media_dashboard/css/social_media_dashboard.css' %}" />

  {% block extra_css %}{% endblock extra_css %}

  {% block extra_head %}{% endblock extra_head %}
</head>

<body>
{% block body %}

  <!-- Container -->
  {% block container %}

    <header>
      <div class="navbar-fixed ">
        <nav>
          <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">
              <img src="{% static 'social_media_dashboard/images/logo.png' %}"/>
            </a>

            <a href="{% url 'home' %}" class="nav-title hide-on-med-and-down">Editorial calendar planner</a>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"><i class="fa fa-bars"></i></i></a>
            <ul class="right hide-on-med-and-down dashboard-menu">
              {% include "social_media_dashboard/dashboard_menu.html" %}
            </ul>
            <ul class="side-nav" id="mobile-demo dashboard-menu">
              {% include "social_media_dashboard/dashboard_menu.html" %}
            </ul>
          </div>
        </nav>
      </div>

    </header>
    <main>

      <div class="row">

        {% block page_container %}
          <div class="col s12 m8 l9 no-padding-left no-padding-right">
            {% block page_title_container %}
              <div class="row page-title">
                <h4>
                  {% block page_title %}
                    Social media dashboard
                  {% endblock page_title %}
                </h4>
              </div>
            {% endblock page_title_container %}

              {% block breadcrumbs_container %}
                <div class="row page-breadcrumbs no-padding-left margin-left">
                  <a href="{% url 'home' %}"><i class="fa fa-home"></i></a>
                  {% block breadcrumbs %}
                  {% endblock breadcrumbs %}
                </div>
              {% endblock breadcrumbs_container %}

            <div class="page-content">
              {% block content %}
              {% endblock content %}
            </div>
          </div>

          <div class="col s12 m4 l3 page-sidebar">
            {% block sidebar_container %}
              <div class="row page-title">
                <h4>
                  {% block sidebar_title %}
                  {% endblock sidebar_title %}
                </h4>
              </div>
              <div class="collection no-margin-top sidebar-content">
                {% block sidebar %}

                {% endblock sidebar %}
              </div>
            {% endblock sidebar_container %}
          </div>
        {% endblock page_container %}
      </div>
    </main>

  {% endblock container %}

  <!-- Footer -->
  {% block footer %}
    <footer class="page-footer white">
      <div class="footer-copyright">
        <div class="container blue-text">
          &copy; {% block copyright_label %}vittoriozamboni 2016. All rights reserved.{% endblock copyright_label %}
          {% if dashboard_test_name %}
            <span class="badge right" style="background-color: #FE9A2E; color: white;">
          {{ dashboard_test_name }}
        </span>
          {% endif %}
        </div>
      </div>
      {% block extra_footer %}{% endblock extra_footer %}
    </footer>
  {% endblock footer %}
{% endblock body %}

<!---------- JS ----------->
{% block scripts_libraries %}
  <script type="text/javascript" src="{% static 'social_media_dashboard/js/3rd-party/jquery/jquery-2.2.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'social_media_dashboard/js/3rd-party/angular/angular.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'social_media_dashboard/js/3rd-party/angular/angular-cookies.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'social_media_dashboard/js/3rd-party/angular/angular-resource.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'social_media_dashboard/js/3rd-party/angular/angular-route.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'social_media_dashboard/js/3rd-party/angular-plugins/restangular.min.js' %}"></script>
{% endblock scripts_libraries %}
<script type="text/javascript" src="{% static 'social_media_dashboard/materialize/js/materialize.js' %}"></script>

<!----- extra scripts------>
{% block extra_scripts %}
  <script>
    $(function(){
      $(".button-collapse").sideNav();
      $(".tooltipped").tooltip();
    });
  </script>
{% endblock extra_scripts %}
{% block extra_scripts_page %}
{% endblock extra_scripts_page %}
<!------- END OF JS ------->

</body>

</html>
{% endwith %}
