body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 13px;
  color: #7C7E89;
}

main {
  flex: 1 0 auto;
}

nav {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e3f2fd;
}

nav ul a {
  font-size: 1.3rem !important;
  span {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: #90caf9;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

hr {
  border: none;
  border-top: 1px solid #cfd1cf;
}

.nav-wrapper {
  padding-left: 0;
  background-color: #007bb5;
  border-bottom: 0;
}

.navbar-fixed nav {
  border-bottom: 0;
}

.nav-title {
  margin-left: 75px;
  font-size: 1.6rem;
  font-weight: 300;
  color: white;
}

.brand-logo {
  border-radius: 50%;

  width: 50px;
  height: 50px;

  background: #fff;
  text-align: center;
  margin-top: 5px;
  margin-left: 10px;

  font: 32px Arial, sans-serif;
}

.brand-logo {
  line-height: 64px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.brand-logo img {
  height: 35px;
  margin-top: 0;
  margin-left: -7px;
}


input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  border-bottom: 1px solid #cfd1cf !important;
}

.input-field label {
  color: #00b0ff;
  font-size: 1rem !important;
  left: 0!important;
}

.pagination li.active {
  background-color: #90caf9;
}

.dashboard-menu {
  i, a {
    color: #e3f2fd;
  }
}

.page-sidebar {
  padding: 0 !important;
  margin-top: 0;

  .collection {
    border: none;
    .collection-item {
      border: none;
    }

  }

}

.button-collapse {
  height: 62px !important;
  line-height: 62px !important;
}

.sidebar-content {
  padding-top: 20px;
  a.collection-item {
    color: #90caf9;
    &:hover {
      background-color: #e3f2fd !important;
      color: #007bb5;
    }
  }
}

.page-breadcrumbs {
  color: #007bb5;
  padding: 10px;
  a {
    color: #007bb5;
  }
}

.page-title {
  padding: 10px;
  h4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: white;
  }
  min-height: 45px;
  background-color: #90caf9;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 0;
}

.page-content {
  padding: 10px;
}

.collapsible {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top-color: #EFEFEF;
  border-right-color: #EFEFEF;
  border-left-color: #EFEFEF;
}
.collapsible-header {
  border-bottom-color: #EFEFEF;
}

.social-media-planner-menu-icon {
  color: #007bb5 !important;
  &:hover {
    color: white !important;
    background-color: #90caf9 !important;
    span {
      color: white !important;
    }
  }
  span {
    color: #007bb5 !important;
  }
}

.social-media-planner-key-content-color {
  width: 30px;
  height: 18px;
  display:block;
}

.social-media-planner-calendar-table {
  width: 100%;
  td {
    width: 15%;
    vertical-align: top;
  }
}

.social-media-planner-calendar-month-other {
  color: #dfdfdf;
}

.social-media-planner-calendar-month-past {
  background-color: #F7F7F7;
}

.social-media-planner-calendar-month-today {
  background-color: #b3e5fc;
}

.social-media-planner-calendar-month {
  color: #989898;
}

.social-media-planner-post-status-idea {
  background-color: #f5f5f5;
  color: #565656;
}
.social-media-planner-post-status-draft {
  background-color: #e0e0e0;
  color: #323232;
}
.social-media-planner-post-status-ready {
  background-color: #81c784;
}
.social-media-planner-post-status-published {
  background-color: #4caf50;
}

.social-media-planner-post-reason {
  font-size: 14px;
}

.social-media-planner-post-content {
  border-left: 4px solid #DEDEDE !important;
  background-color: #F6F6F6;
}

.social-media-planner-post-content-published {
  border-left: 4px solid #006a00 !important;
  background-color: #dff0d8;
}
.social-media-planner-post-content-published-color {
  color: #006a00 !important;
}
.social-media-planner-post-content-valid {
  border-left: 4px solid #0f9d58 !important;
}
.social-media-planner-post-content-valid-color {
  color: #0f9d58 !important;
}

.social-media-planner-icon-list {
  li {
    min-height: 44px !important;
    padding-left: 52px !important;
    border-bottom: 1px solid #eee !important;
  }
  li:last-child {
    border-bottom: none !important;
  }
  li > i {
    font-size: 14px !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
}

.social-media-planner-post-add-content {
  width: 50px;
  text-align: center;
  display: inline-block;
  background-color: #EFEFEF;
  padding: 5px;
  color: #999999;
  &:hover {
    color: #0091ea;
  }
}