{% extends "social_media_dashboard/dashboard_home.html" %}

{% block breadcrumbs%}
    {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'account_password_change' %}">Account settings</a>

{% endblock breadcrumbs %}


{% block title %}
  Account settings
{% endblock title %}


{% block content %}

  <div class="row">
    <div class="col s12 l6">
      <h5>Password management</h5>
      <p>
        <a href="{% url 'account_password_change' %}" class="btn btn-small">Change password</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <h5>Planner notifications</h5>
      <p>
        <a href="{% url 'social_media_planner:user_profile_notifications_edit' %}" class="btn btn-small">Edit notifications</a>
      </p>
    </div>
  </div>

{% endblock content %}
