<li><a href="{% url 'home' %}"><i class="fa fa-calendar"></i></a></li>
<li><a href="{% url 'social_media_planner:post_list' %}"><i class="fa fa-th-list"></i></a></li>
<li><a href="{% url 'social_media_planner:social_media_planner' %}"><i class="fa fa-bars"></i></a></li>
{% if request.user.is_authenticated %}
  <li>
    <a href="{% url 'account_settings' %}">
      <i class="fa fa-user"></i>
      <span>{{ request.user.get_full_name }}</span>
    </a>
  </li>
  <li>
    <a href="{% url 'logout' %}">
      <i class="fa fa-sign-out"></i>
    </a>
  </li>
{% else %}
  <li>
    <a href="">
      <i class="fa fa-sign-in"></i>
    </a>
  </li>
{% endif %}
