{% extends "base.html" %}


{% load static from staticfiles %}
{% load django_utils_filters %}


{% block extra_css %}
  {{ block.super }}
{% endblock extra_css %}


{% block extra_scripts %}
  {{ block.super }}
  <script src="{% static 'social_media_dashboard/js/3rd-party/moment.min.js' %}" type="text/javascript"></script>
  <script>
    $(function() {
      var now = moment();
      var month = moment().month();
    });
  </script>
{% endblock extra_scripts %}


{% block page_title %}
  Social Media Dashboard
{% endblock %}

{% block breadcrumbs_container %}
{% endblock breadcrumbs_container %}

{% block sidebar_title %}
{% endblock sidebar_title %}

{% block sidebar %}

  <div class="row">
    <div class="col s12 padding-bottom">
      {% if next_meeting %}
        <h5>Next meeting</h5>
        <ul class="collection social-media-planner-icon-list">
          <li class="collection-item avatar">
            <i class="fa fa-calendar circle"></i>
            <a href="{{ next_meeting.get_absolute_url }}" class="grey-text text-darken-2">
              {{ next_meeting.title }}<br />
              <span class="grey-text" style="font-size: 11px;">{{ next_meeting.meeting_date }}</span>
            </a>
          </li>
        </ul>
      {% endif %}

      <h5>Post ideas</h5>
      {% if post_ideas %}
        {% include "social_media_planner/materialize/post/post_ideas_list.html" %}
      {% else %}
        There are no post ideas.
      {% endif %}
      {% if perms.social_media_planner.add_post %}
        <a class="btn btn-small right no-box-shadow light-blue lighten-2" href="{% url 'social_media_planner:post_add' %}?add_idea=1"><i class="fa fa-plus"></i> Add idea</a>
      {% endif %}

    </div>
  </div>

{% endblock sidebar %}


{% block content %}

  <div class="row">
    <div class="col s12">
      {% for month in posts_calendar.months %}
        <h5>{{ month.month_name }}</h5>
        <table class="table social-media-planner-calendar-table">
          {% for week in month.weeks %}
            <tr>
              {% for day in week %}
                <td
                    class="{% if day|is_past:0 %} social-media-planner-calendar-month-past{% endif %}{% if day|is_today:0 %}social-media-planner-calendar-month-today{% endif %}">
                  <a class="{% if day.month == month.month_number %}social-media-planner-calendar-month{% else %}social-media-planner-calendar-month-other{% endif %}" href="{% url 'social_media_planner:post_add' %}?publish_date={{ day|date:"Y-m-d" }}">{{ day.day }}</a>
                  <br />
                  {% with day|date:"Y-m-d" as day_date %}
                    {% with month.posts|dk:day_date as day_posts %}
                      {% for post in day_posts %}
                        {% if post.post_contents.all %}
                          {% for post_content in post.post_contents.all %}
                            <a data-tooltip="{{ post.label }}" data-position="top" class="tooltipped"
                               href="{{ post.get_absolute_url }}" style="color: {{ post.key_content.color }}"><i class="fa {{ post_content.post_content_type.icon }} {% if not post_content.is_published %}fa-2x{% endif %}"></i></a>
                          {% endfor %}
                        {% else %}
                          <a data-tooltip="{{ post.label }}" data-position="top" class="tooltipped"
                             href="{{ post.get_absolute_url }}" style="color: {{ post.key_content.color }}"><i class="fa fa-edit fa-2x"></i></a>
                        {% endif %}
                      {% endfor %}
                    {% endwith %}
                  {% endwith %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      {% endfor %}
    </div>
  </div>

  <a href="?{% url_replace request 'date_from' next_date_from %}" class="btn btn-small no-box-shadow right light-blue lighten-2 margin-left"><i class="fa fa-chevron-right"></i> Next 3 months</a>
  <a href="?{% url_replace request 'date_from' previous_date_from %}" class="btn btn-small no-box-shadow right light-blue lighten-2 margin-right"><i class="fa fa-chevron-left"></i> Previous 3 months</a>

{% endblock content %}
