{% extends "base.html" %}

{% block breadcrumbs_container %}
{% endblock breadcrumbs_container %}


{% block page_container %}

<form action="." method="post" id="authentication_form" class="django form-horizontal">
{% csrf_token %}

{% include "django_helper_forms/forms/materialize/form_template_hidden.html" %}

<div class="align-center" style="margin-left: auto; margin-right: auto; margin-top: 50px; width: 450px;">
    <div class="row">
        <div class="s12" style="padding: 20px;">

            {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.username %}
            {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.password %}

            {% include "django_helper_forms/forms/materialize/form_template_errors.html" %}

            <div style="padding: 10px;">
                <input type="submit" name="login" value="login" class="btn" />
                <input type="hidden" name="next" value="/" />
            </div>
        </div>
    </div>
</div>

</form>

{% endblock page_container %}
