{% extends "social_media_dashboard/account_settings.html" %}

{% block breadcrumbs%}
    {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'account_password_change' %}">Change password</a>

{% endblock breadcrumbs %}


{% block page_container %}

<div class="align-center" style="margin-left: auto; margin-right: auto; margin-top: 50px; width: 450px;">
    <div class="row">
        <div class="s12" style="padding: 20px;">

            <div class="bs-callout bs-callout-success">
              <h5>Password changed</h5>
              <p>The password has been successfully changed.</p>
            </div>

            <div style="padding: 10px;">
                <a href="{% url 'home' %}">Return to home</a>
            </div>

        </div>
    </div>
</div>

{% endblock page_container %}
