{% extends "social_media_dashboard/account_settings.html" %}

{% block breadcrumbs%}
    {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'account_password_change' %}">Change password</a>

{% endblock breadcrumbs %}


{% block page_container %}

<form action="." method="post" id="change_password_form" class="django form-horizontal">
{% csrf_token %}

{% include "django_helper_forms/forms/materialize/form_template_hidden.html" %}

<div class="align-center" style="margin-left: auto; margin-right: auto; margin-top: 50px; width: 450px;">
    <div class="row">
        <div class="s12" style="padding: 20px;">

            {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.old_password %}
            {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.new_password1 %}
            {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.new_password2 %}

            {% include "django_helper_forms/forms/materialize/form_template_errors.html" %}

            <div style="padding: 10px;">
                <input type="submit" name="change_password" value="Change password" class="btn" />
            </div>
        </div>
    </div>
</div>

</form>

{% endblock page_container %}
